
body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.904);
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    
}
#link1:hover{
    background-color: rgb(24, 156, 79);
    color: white;
}
#link2:hover{
    background-color:rgb(204, 198, 198);
    border-radius: 20px;
}
#srch{
    height: 25px;
    width: 190px;
    border-radius: 25px;
}
input::placeholder{
    font-style: italic;
    font-size: 18px;
    
    
}
.btn1{
    height: 40px;
    width: 100px;
    border-radius: 23px;
    border: none;
    background-color:#169440;
    color: white;
    font-size: 15px;
}
.btn1:hover{
    background-color: #086b2b;
}
.btn2:hover{
    background-color: #086b2b;
}
.btn2{
    height: 40px;
    width: 100px;
    border-radius:0px 23px 23px 0px;
    border: none;
    background-color:rgb(205, 221, 218);
    color:white;
    font-size: 15px;
    position: relative;
    right: 20px;
}
a{
    padding: 10px;
    text-decoration: none;
    color: rgba(15, 14, 14, 0.685);
}
a:hover{
    background-color: black;
    
}
.s2btn1:hover{
    background-color: rgb(6, 90, 6);
}
button:hover{
    background-color: rgb(9, 61, 9);
}

.div3{
    display:inline-flex;
    float: right;
    margin-top: -5px;
    margin-left: -40px;
    width:100%;
    
    
    
}
.div1{
    margin-top: -17px;
}
img{
    width: 50px;

}
.btn{
    display:inline-flex;
}
button{
    width: 70px;
    height: 30px;
}
.div2{
    height: 60px;
    width: 100%;
}
.div3 li a{
    color: white;
    /* background-color: rgba(0, 0, 0, 0.185); */
    /* margin-left: 0px; */

}
.mid
{
    width: 460px;
    height: 400px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    
}
h1{
    color: white;
    font-size: 50px;
    font-family:monospace;
}
.para1{
    color: rgb(241, 241, 18);
    font-weight:bolder;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.srch2{
    width: 350px;
    height: 34px;
    border: none;
    border-radius: 20px;
}
.btn3{
    background-color: #169440;
    height: 37px;
    width: 70px;
    border-radius: 0px 20px 20px 0px;
    position: relative;
    right: 20px;
    bottom: -13px;
    border: none;
}
.link3{
    
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    position: relative;
    top: 20px;
}
.link3:hover{
    color: yellow;
}
.sec2head{
    color: black;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bttns button{
    display:grid;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
   padding: 10px;
   position: relative;
   left: 70px;
   font-size: 16px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
.sec2sub{
    text-align: center;
    width: 40%;
    padding: 80px;

}
.sec2{
    width: 100%;
    height: 50%;
    background-color: rgb(217, 233, 233);
    display: flex;

}
.sec2btn{
    height: 35px;
    width: 220px;
    border: none;
    border-radius: 20px;
    font-weight: bolder;
  
}
.btn4{
    height: 35px;
    width: 120px;
    background-color: #169440;
    color: white;
    border: none;
    border-radius: 20px;
}
.sub2{
    height: 450px;
    width: 400px;
    background-color: rgb(228, 223, 203);
}

.s2btn1:hover{
    background-color: #2f6ecc;
    color: black;
}
.sec3{
    width: 100%;
    height: 50%;
    background-color: #f3ee94;
    display: flex;

}
.sec4{
    width: 100%;
    height: 50%;
    background-color:rgb(12, 12, 12);
    display: flex;

}
.sec5{
    width: 100%;
    height: 50%;
    background-color:rgb(247, 242, 230);
    display: flex;

}
.sec6{
    width: 100%;
    height: 50%;
    background-color:rgb(146, 211, 219);
    display: flex;

}
.sec7{
    width: 100%;
    height: 2000px;
    background-color:rgb(0, 0, 0);
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    /* columns: 50%; */
    /* align-items: center; */
   

}
.subsec7{
    height: 200px;
    width: 400px;
    background-color: rgb(223, 169, 223);
    margin: 20px;
    padding-top: 10PX;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.btn7{
    height: 35px;
    width: 120px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: black;
    margin-top: 10px;
}
.sec7{
    width: 100%;
    height: 2500px;
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.sec8{
 
   
    /* margin: 20px; */
    /* padding-top: 20PX; */
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
.sec8{
    display: flex;
    flex-wrap: wrap;

}
.sec9{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
